$transparent: rgba(0,0,0,0);
$near-transparent: rgba(0,0,0,.9);
$black: #000;
$light-gray: #d3d3d3;
$ivory: #fffff0;
$cafe-noir: #4b3621;
$cafe-creme: #cfa980;
$cafe-creme-de-la-creme: #ffd09e;
$cafe-au-lait: #a67b5b;
$dark-gold: #886308;
$gold: #daa520;
$blue: #1b96b8;
$dark-blue: #115e73;
$purple: #b665a4;
$dark-purple: #6a3b60;
$apple-red: #a00;
